<header class="header hide-for-print">
  <nav class="navbar">
    <div class="navbar-brand">
      <ul class="components">
        {{#each site.components}}
        <div class="component-holder">
          <legend class="title">{{ ./title }}</legend>
          <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
            <ul class="versions">
              {{#each ./versions}}
              <li class="version
              {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
              {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
                <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
              </li>
              {{/each}}
            </ul>
          </li>
        </div>
        {{/each}}
      </ul>
      {{~#if env.THEME_VERSION }}
      <code class="navbar-item theme-download">
        Download this Antora theme →
      </code>
      <code class="navbar-item theme-version">
        <a href="{{{ relativize (concat "bundle/ui-" env.THEME_VERSION ".zip")}}}">{{ env.THEME_VERSION }}</a>
      </code>
      {{/if}}
      <div class="navbar-item actions">
        <a href="{{page.editUrl}}">
          <i class="fa fa-pencil-square-o fa-lg" alt="Edit this page icon"></i>
        </a>
        <a href="javascript:if(window.print)window.print()">
          <i class="fa fa-print fa-lg" alt="Print"></i>
        </a>
      </div>
    </div>
  </nav>
</header>